@tailwind base;
@tailwind components;
@tailwind utilities;

input{
border: grey solid 1px;
border-radius: 5px;
padding: 3px;
}

button{
background-color: grey;
border-radius: 5px;
padding-left: 5px;
padding-right: 5px;
}

button:hover{
background-color: blue;
color: white;
}

form{
display: flex;
flex-direction: column;
max-width: 400px;
margin: 0 auto;
gap: 5px;
}